<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <form action="/post-data" method="POST">
    <div>
      <input type="email" placeholder="email" name="email">
      <input type="text" name="firstName" id="firstName" placeholder="firstName">
      <input type="text" name="lastName" id="lastName" placeholder="lastName">
      <button type="submit">Click To Submit</button>
    </div>
  </form>
  <a href="https://docs.google.com/spreadsheets/d/1KYJRhh_sOtyOqgBpnF7qoCGHVTAJdyxeltRZ41z-Qvo/edit#gid=0">SpreadSheet Link</a>
</body>
</html>